{"openapi":"3.1.0","info":{"title":"Broadcastwell API","version":"1.0.0","summary":"Read the answers five AI engines gave to your buyers' questions, with every receipt.","description":"Read only. Every rate is a five field object: pct, low, high, interval and base, where low and high are the 95% Wilson interval and base states the count. Every headline figure counts scheduled runs only. Adaptive runs are labelled and never pooled. Errors are problem details with a next step. Version 1 changes only by addition.\n\nThe public demo key bwp_demo_kalvenor_sample reads the fictional Kalvenor sample at /accounts/sample.","contact":{"name":"Broadcastwell","email":"hello@broadcastwell.com","url":"https://broadcastwell.com"},"termsOfService":"https://broadcastwell.com/terms"},"servers":[{"url":"https://app.broadcastwell.com/api/v1"}],"security":[{"bearer":[]}],"tags":[{"name":"Account"},{"name":"Runs"},{"name":"Questions"},{"name":"Receipts"},{"name":"Displacement"},{"name":"Sources"},{"name":"Fixes"},{"name":"History"},{"name":"Alerts"},{"name":"Proof"},{"name":"Method"}],"paths":{"/me":{"get":{"operationId":"getMe","summary":"The key you are using","description":"Who the key belongs to and which accounts it reads.","tags":["Account"],"responses":{"200":{"description":"The key","headers":{"ETag":{"$ref":"#/components/headers/ETag"},"RateLimit-Limit":{"$ref":"#/components/headers/RateLimitLimit"},"RateLimit-Remaining":{"$ref":"#/components/headers/RateLimitRemaining"},"RateLimit-Reset":{"$ref":"#/components/headers/RateLimitReset"}},"content":{"application/json":{"schema":{"type":"object","required":["data"],"properties":{"sample":{"type":"boolean"},"data":{"type":"object"}}}}}},"304":{"description":"Not modified. The If-None-Match value matched the current ETag."},"400":{"$ref":"#/components/responses/Problem400"},"401":{"$ref":"#/components/responses/Problem401"},"404":{"$ref":"#/components/responses/Problem404"},"429":{"$ref":"#/components/responses/Problem429"}}}},"/method":{"get":{"operationId":"getMethod","summary":"Method, definitions and limits","description":"The method version, every definition, the five engines, the proof rules and what the numbers do not prove. No key needed.","tags":["Method"],"security":[],"responses":{"200":{"description":"The method","headers":{"ETag":{"$ref":"#/components/headers/ETag"},"RateLimit-Limit":{"$ref":"#/components/headers/RateLimitLimit"},"RateLimit-Remaining":{"$ref":"#/components/headers/RateLimitRemaining"},"RateLimit-Reset":{"$ref":"#/components/headers/RateLimitReset"}},"content":{"application/json":{"schema":{"type":"object","required":["data"],"properties":{"sample":{"type":"boolean"},"data":{"$ref":"#/components/schemas/Method"}}}}}},"304":{"description":"Not modified. The If-None-Match value matched the current ETag."},"400":{"$ref":"#/components/responses/Problem400"},"401":{"$ref":"#/components/responses/Problem401"},"404":{"$ref":"#/components/responses/Problem404"},"429":{"$ref":"#/components/responses/Problem429"}}}},"/accounts/{account}":{"get":{"operationId":"getAccount","summary":"One account","tags":["Account"],"parameters":[{"name":"account","in":"path","required":true,"description":"me, your account id, or sample for the fictional Kalvenor sample. Any other id answers 404.","schema":{"type":"string","maxLength":200,"examples":["sample","me"]}}],"responses":{"200":{"description":"The account","headers":{"ETag":{"$ref":"#/components/headers/ETag"},"RateLimit-Limit":{"$ref":"#/components/headers/RateLimitLimit"},"RateLimit-Remaining":{"$ref":"#/components/headers/RateLimitRemaining"},"RateLimit-Reset":{"$ref":"#/components/headers/RateLimitReset"}},"content":{"application/json":{"schema":{"type":"object","required":["data"],"properties":{"sample":{"type":"boolean"},"data":{"type":"object"}}}}}},"304":{"description":"Not modified. The If-None-Match value matched the current ETag."},"400":{"$ref":"#/components/responses/Problem400"},"401":{"$ref":"#/components/responses/Problem401"},"404":{"$ref":"#/components/responses/Problem404"},"429":{"$ref":"#/components/responses/Problem429"}}}},"/accounts/{account}/runs":{"get":{"operationId":"listRuns","summary":"Runs","description":"Every measurement the account holds, newest first, with its passes. Scheduled passes carry the figures. Adaptive passes are labelled.","tags":["Runs"],"parameters":[{"name":"account","in":"path","required":true,"description":"me, your account id, or sample for the fictional Kalvenor sample. Any other id answers 404.","schema":{"type":"string","maxLength":200,"examples":["sample","me"]}},{"name":"limit","in":"query","description":"Items per page, 1 to 100. Default 25.","schema":{"type":"integer","minimum":1,"maximum":100,"default":25}},{"name":"cursor","in":"query","description":"The next_cursor from the previous page.","schema":{"type":"string","maxLength":40}}],"responses":{"200":{"description":"A page of runs","headers":{"ETag":{"$ref":"#/components/headers/ETag"},"RateLimit-Limit":{"$ref":"#/components/headers/RateLimitLimit"},"RateLimit-Remaining":{"$ref":"#/components/headers/RateLimitRemaining"},"RateLimit-Reset":{"$ref":"#/components/headers/RateLimitReset"}},"content":{"application/json":{"schema":{"type":"object","required":["data","pagination"],"properties":{"sample":{"type":"boolean","description":"Present and true on every sample response."},"data":{"type":"array","items":{"$ref":"#/components/schemas/Run"}},"pagination":{"$ref":"#/components/schemas/Pagination"}}}}}},"304":{"description":"Not modified. The If-None-Match value matched the current ETag."},"400":{"$ref":"#/components/responses/Problem400"},"401":{"$ref":"#/components/responses/Problem401"},"404":{"$ref":"#/components/responses/Problem404"},"429":{"$ref":"#/components/responses/Problem429"}}}},"/accounts/{account}/runs/{run}":{"get":{"operationId":"getRun","summary":"One run","tags":["Runs"],"parameters":[{"name":"account","in":"path","required":true,"description":"me, your account id, or sample for the fictional Kalvenor sample. Any other id answers 404.","schema":{"type":"string","maxLength":200,"examples":["sample","me"]}},{"name":"run","in":"path","required":true,"description":"A run id from the runs list.","schema":{"type":"string","pattern":"^[A-Za-z0-9._:-]{1,200}$","examples":["baseline-kalvenor-v11"]}}],"responses":{"200":{"description":"The run","headers":{"ETag":{"$ref":"#/components/headers/ETag"},"RateLimit-Limit":{"$ref":"#/components/headers/RateLimitLimit"},"RateLimit-Remaining":{"$ref":"#/components/headers/RateLimitRemaining"},"RateLimit-Reset":{"$ref":"#/components/headers/RateLimitReset"}},"content":{"application/json":{"schema":{"type":"object","required":["data"],"properties":{"sample":{"type":"boolean"},"data":{"$ref":"#/components/schemas/Run"}}}}}},"304":{"description":"Not modified. The If-None-Match value matched the current ETag."},"400":{"$ref":"#/components/responses/Problem400"},"401":{"$ref":"#/components/responses/Problem401"},"404":{"$ref":"#/components/responses/Problem404"},"429":{"$ref":"#/components/responses/Problem429"}}}},"/accounts/{account}/runs/{run}/summary":{"get":{"operationId":"getRunSummary","summary":"Run summary","description":"Named and own domain cited rates on scheduled passes, overall, per engine and per question type. Adaptive answers are reported separately.","tags":["Runs"],"parameters":[{"name":"account","in":"path","required":true,"description":"me, your account id, or sample for the fictional Kalvenor sample. Any other id answers 404.","schema":{"type":"string","maxLength":200,"examples":["sample","me"]}},{"name":"run","in":"path","required":true,"description":"A run id from the runs list.","schema":{"type":"string","pattern":"^[A-Za-z0-9._:-]{1,200}$","examples":["baseline-kalvenor-v11"]}}],"responses":{"200":{"description":"The summary","headers":{"ETag":{"$ref":"#/components/headers/ETag"},"RateLimit-Limit":{"$ref":"#/components/headers/RateLimitLimit"},"RateLimit-Remaining":{"$ref":"#/components/headers/RateLimitRemaining"},"RateLimit-Reset":{"$ref":"#/components/headers/RateLimitReset"}},"content":{"application/json":{"schema":{"type":"object","required":["data"],"properties":{"sample":{"type":"boolean"},"data":{"$ref":"#/components/schemas/RunSummary"}}}}}},"304":{"description":"Not modified. The If-None-Match value matched the current ETag."},"400":{"$ref":"#/components/responses/Problem400"},"401":{"$ref":"#/components/responses/Problem401"},"404":{"$ref":"#/components/responses/Problem404"},"429":{"$ref":"#/components/responses/Problem429"}}}},"/accounts/{account}/runs/{run}/questions":{"get":{"operationId":"listQuestions","summary":"Questions","tags":["Questions"],"parameters":[{"name":"account","in":"path","required":true,"description":"me, your account id, or sample for the fictional Kalvenor sample. Any other id answers 404.","schema":{"type":"string","maxLength":200,"examples":["sample","me"]}},{"name":"run","in":"path","required":true,"description":"A run id from the runs list.","schema":{"type":"string","pattern":"^[A-Za-z0-9._:-]{1,200}$","examples":["baseline-kalvenor-v11"]}},{"name":"limit","in":"query","description":"Items per page, 1 to 100. Default 25.","schema":{"type":"integer","minimum":1,"maximum":100,"default":25}},{"name":"cursor","in":"query","description":"The next_cursor from the previous page.","schema":{"type":"string","maxLength":40}}],"responses":{"200":{"description":"A page of questions","headers":{"ETag":{"$ref":"#/components/headers/ETag"},"RateLimit-Limit":{"$ref":"#/components/headers/RateLimitLimit"},"RateLimit-Remaining":{"$ref":"#/components/headers/RateLimitRemaining"},"RateLimit-Reset":{"$ref":"#/components/headers/RateLimitReset"}},"content":{"application/json":{"schema":{"type":"object","required":["data","pagination"],"properties":{"sample":{"type":"boolean","description":"Present and true on every sample response."},"data":{"type":"array","items":{"$ref":"#/components/schemas/Question"}},"pagination":{"$ref":"#/components/schemas/Pagination"}}}}}},"304":{"description":"Not modified. The If-None-Match value matched the current ETag."},"400":{"$ref":"#/components/responses/Problem400"},"401":{"$ref":"#/components/responses/Problem401"},"404":{"$ref":"#/components/responses/Problem404"},"429":{"$ref":"#/components/responses/Problem429"}}}},"/accounts/{account}/runs/{run}/questions/{question}":{"get":{"operationId":"getQuestion","summary":"One question","description":"Counts per engine, competitors named and who was named instead.","tags":["Questions"],"parameters":[{"name":"account","in":"path","required":true,"description":"me, your account id, or sample for the fictional Kalvenor sample. Any other id answers 404.","schema":{"type":"string","maxLength":200,"examples":["sample","me"]}},{"name":"run","in":"path","required":true,"description":"A run id from the runs list.","schema":{"type":"string","pattern":"^[A-Za-z0-9._:-]{1,200}$","examples":["baseline-kalvenor-v11"]}},{"name":"question","in":"path","required":true,"schema":{"type":"integer","minimum":1,"maximum":35,"examples":[7]}}],"responses":{"200":{"description":"The question","headers":{"ETag":{"$ref":"#/components/headers/ETag"},"RateLimit-Limit":{"$ref":"#/components/headers/RateLimitLimit"},"RateLimit-Remaining":{"$ref":"#/components/headers/RateLimitRemaining"},"RateLimit-Reset":{"$ref":"#/components/headers/RateLimitReset"}},"content":{"application/json":{"schema":{"type":"object","required":["data"],"properties":{"sample":{"type":"boolean"},"data":{"$ref":"#/components/schemas/Question"}}}}}},"304":{"description":"Not modified. The If-None-Match value matched the current ETag."},"400":{"$ref":"#/components/responses/Problem400"},"401":{"$ref":"#/components/responses/Problem401"},"404":{"$ref":"#/components/responses/Problem404"},"429":{"$ref":"#/components/responses/Problem429"}}}},"/accounts/{account}/runs/{run}/receipts":{"get":{"operationId":"listReceipts","summary":"Receipts","description":"Observed answers with their verdict and every cited address.","tags":["Receipts"],"parameters":[{"name":"account","in":"path","required":true,"description":"me, your account id, or sample for the fictional Kalvenor sample. Any other id answers 404.","schema":{"type":"string","maxLength":200,"examples":["sample","me"]}},{"name":"run","in":"path","required":true,"description":"A run id from the runs list.","schema":{"type":"string","pattern":"^[A-Za-z0-9._:-]{1,200}$","examples":["baseline-kalvenor-v11"]}},{"name":"question_id","in":"query","schema":{"type":"integer","minimum":1,"maximum":35}},{"name":"engine","in":"query","schema":{"$ref":"#/components/schemas/EngineId"}},{"name":"pass_id","in":"query","schema":{"type":"string","maxLength":20,"examples":["run-1","2026-08"]}},{"name":"verdict","in":"query","schema":{"type":"string","enum":["named","not_named","excluded"]}},{"name":"limit","in":"query","description":"Items per page, 1 to 100. Default 25.","schema":{"type":"integer","minimum":1,"maximum":100,"default":25}},{"name":"cursor","in":"query","description":"The next_cursor from the previous page.","schema":{"type":"string","maxLength":40}}],"responses":{"200":{"description":"A page of receipts","headers":{"ETag":{"$ref":"#/components/headers/ETag"},"RateLimit-Limit":{"$ref":"#/components/headers/RateLimitLimit"},"RateLimit-Remaining":{"$ref":"#/components/headers/RateLimitRemaining"},"RateLimit-Reset":{"$ref":"#/components/headers/RateLimitReset"}},"content":{"application/json":{"schema":{"type":"object","required":["data","pagination"],"properties":{"sample":{"type":"boolean","description":"Present and true on every sample response."},"data":{"type":"array","items":{"$ref":"#/components/schemas/Receipt"}},"pagination":{"$ref":"#/components/schemas/Pagination"}}}}}},"304":{"description":"Not modified. The If-None-Match value matched the current ETag."},"400":{"$ref":"#/components/responses/Problem400"},"401":{"$ref":"#/components/responses/Problem401"},"404":{"$ref":"#/components/responses/Problem404"},"429":{"$ref":"#/components/responses/Problem429"}}}},"/accounts/{account}/runs/{run}/receipts/{receipt}":{"get":{"operationId":"getReceipt","summary":"One receipt","tags":["Receipts"],"parameters":[{"name":"account","in":"path","required":true,"description":"me, your account id, or sample for the fictional Kalvenor sample. Any other id answers 404.","schema":{"type":"string","maxLength":200,"examples":["sample","me"]}},{"name":"run","in":"path","required":true,"description":"A run id from the runs list.","schema":{"type":"string","pattern":"^[A-Za-z0-9._:-]{1,200}$","examples":["baseline-kalvenor-v11"]}},{"name":"receipt","in":"path","required":true,"schema":{"type":"string","maxLength":300}}],"responses":{"200":{"description":"The receipt","headers":{"ETag":{"$ref":"#/components/headers/ETag"},"RateLimit-Limit":{"$ref":"#/components/headers/RateLimitLimit"},"RateLimit-Remaining":{"$ref":"#/components/headers/RateLimitRemaining"},"RateLimit-Reset":{"$ref":"#/components/headers/RateLimitReset"}},"content":{"application/json":{"schema":{"type":"object","required":["data"],"properties":{"sample":{"type":"boolean"},"data":{"$ref":"#/components/schemas/Receipt"}}}}}},"304":{"description":"Not modified. The If-None-Match value matched the current ETag."},"400":{"$ref":"#/components/responses/Problem400"},"401":{"$ref":"#/components/responses/Problem401"},"404":{"$ref":"#/components/responses/Problem404"},"429":{"$ref":"#/components/responses/Problem429"}}}},"/accounts/{account}/runs/{run}/displacement":{"get":{"operationId":"listDisplacement","summary":"Named instead","description":"Per question, who was named in answers that did not name the client, including competitors checked and not found.","tags":["Displacement"],"parameters":[{"name":"account","in":"path","required":true,"description":"me, your account id, or sample for the fictional Kalvenor sample. Any other id answers 404.","schema":{"type":"string","maxLength":200,"examples":["sample","me"]}},{"name":"run","in":"path","required":true,"description":"A run id from the runs list.","schema":{"type":"string","pattern":"^[A-Za-z0-9._:-]{1,200}$","examples":["baseline-kalvenor-v11"]}},{"name":"limit","in":"query","description":"Items per page, 1 to 100. Default 25.","schema":{"type":"integer","minimum":1,"maximum":100,"default":25}},{"name":"cursor","in":"query","description":"The next_cursor from the previous page.","schema":{"type":"string","maxLength":40}}],"responses":{"200":{"description":"A page of questions","headers":{"ETag":{"$ref":"#/components/headers/ETag"},"RateLimit-Limit":{"$ref":"#/components/headers/RateLimitLimit"},"RateLimit-Remaining":{"$ref":"#/components/headers/RateLimitRemaining"},"RateLimit-Reset":{"$ref":"#/components/headers/RateLimitReset"}},"content":{"application/json":{"schema":{"type":"object","required":["data","pagination"],"properties":{"sample":{"type":"boolean","description":"Present and true on every sample response."},"data":{"type":"array","items":{"$ref":"#/components/schemas/DisplacementQuestion"}},"pagination":{"$ref":"#/components/schemas/Pagination"}}}}}},"304":{"description":"Not modified. The If-None-Match value matched the current ETag."},"400":{"$ref":"#/components/responses/Problem400"},"401":{"$ref":"#/components/responses/Problem401"},"404":{"$ref":"#/components/responses/Problem404"},"429":{"$ref":"#/components/responses/Problem429"}}}},"/accounts/{account}/runs/{run}/sources":{"get":{"operationId":"listSources","summary":"Sources","description":"Every page cited in scheduled answers, with times cited, engines and questions.","tags":["Sources"],"parameters":[{"name":"account","in":"path","required":true,"description":"me, your account id, or sample for the fictional Kalvenor sample. Any other id answers 404.","schema":{"type":"string","maxLength":200,"examples":["sample","me"]}},{"name":"run","in":"path","required":true,"description":"A run id from the runs list.","schema":{"type":"string","pattern":"^[A-Za-z0-9._:-]{1,200}$","examples":["baseline-kalvenor-v11"]}},{"name":"limit","in":"query","description":"Items per page, 1 to 100. Default 25.","schema":{"type":"integer","minimum":1,"maximum":100,"default":25}},{"name":"cursor","in":"query","description":"The next_cursor from the previous page.","schema":{"type":"string","maxLength":40}}],"responses":{"200":{"description":"A page of sources","headers":{"ETag":{"$ref":"#/components/headers/ETag"},"RateLimit-Limit":{"$ref":"#/components/headers/RateLimitLimit"},"RateLimit-Remaining":{"$ref":"#/components/headers/RateLimitRemaining"},"RateLimit-Reset":{"$ref":"#/components/headers/RateLimitReset"}},"content":{"application/json":{"schema":{"type":"object","required":["data","pagination"],"properties":{"sample":{"type":"boolean","description":"Present and true on every sample response."},"data":{"type":"array","items":{"$ref":"#/components/schemas/Source"}},"pagination":{"$ref":"#/components/schemas/Pagination"}}}}}},"304":{"description":"Not modified. The If-None-Match value matched the current ETag."},"400":{"$ref":"#/components/responses/Problem400"},"401":{"$ref":"#/components/responses/Problem401"},"404":{"$ref":"#/components/responses/Problem404"},"429":{"$ref":"#/components/responses/Problem429"}}}},"/accounts/{account}/runs/{run}/fixes":{"get":{"operationId":"listRunFixes","summary":"Fixes for a run","tags":["Fixes"],"parameters":[{"name":"account","in":"path","required":true,"description":"me, your account id, or sample for the fictional Kalvenor sample. Any other id answers 404.","schema":{"type":"string","maxLength":200,"examples":["sample","me"]}},{"name":"run","in":"path","required":true,"description":"A run id from the runs list.","schema":{"type":"string","pattern":"^[A-Za-z0-9._:-]{1,200}$","examples":["baseline-kalvenor-v11"]}}],"responses":{"200":{"description":"Fixes","headers":{"ETag":{"$ref":"#/components/headers/ETag"},"RateLimit-Limit":{"$ref":"#/components/headers/RateLimitLimit"},"RateLimit-Remaining":{"$ref":"#/components/headers/RateLimitRemaining"},"RateLimit-Reset":{"$ref":"#/components/headers/RateLimitReset"}},"content":{"application/json":{"schema":{"type":"object","required":["data"],"properties":{"sample":{"type":"boolean"},"data":{"type":"array","items":{"$ref":"#/components/schemas/Fix"}}}}}}},"304":{"description":"Not modified. The If-None-Match value matched the current ETag."},"400":{"$ref":"#/components/responses/Problem400"},"401":{"$ref":"#/components/responses/Problem401"},"404":{"$ref":"#/components/responses/Problem404"},"429":{"$ref":"#/components/responses/Problem429"}}}},"/accounts/{account}/runs/{run}/compare/{other}":{"get":{"operationId":"compareRuns","summary":"Compare two runs","description":"Named rates on the questions and engines both runs measured. A change is called only where the intervals separate, and never across method versions.","tags":["Runs"],"parameters":[{"name":"account","in":"path","required":true,"description":"me, your account id, or sample for the fictional Kalvenor sample. Any other id answers 404.","schema":{"type":"string","maxLength":200,"examples":["sample","me"]}},{"name":"run","in":"path","required":true,"description":"A run id from the runs list.","schema":{"type":"string","pattern":"^[A-Za-z0-9._:-]{1,200}$","examples":["baseline-kalvenor-v11"]}},{"name":"other","in":"path","required":true,"description":"The second run id.","schema":{"type":"string","pattern":"^[A-Za-z0-9._:-]{1,200}$"}}],"responses":{"200":{"description":"The comparison","headers":{"ETag":{"$ref":"#/components/headers/ETag"},"RateLimit-Limit":{"$ref":"#/components/headers/RateLimitLimit"},"RateLimit-Remaining":{"$ref":"#/components/headers/RateLimitRemaining"},"RateLimit-Reset":{"$ref":"#/components/headers/RateLimitReset"}},"content":{"application/json":{"schema":{"type":"object","required":["data"],"properties":{"sample":{"type":"boolean"},"data":{"type":"object"}}}}}},"304":{"description":"Not modified. The If-None-Match value matched the current ETag."},"400":{"$ref":"#/components/responses/Problem400"},"401":{"$ref":"#/components/responses/Problem401"},"404":{"$ref":"#/components/responses/Problem404"},"429":{"$ref":"#/components/responses/Problem429"}}}},"/accounts/{account}/fixes":{"get":{"operationId":"listFixes","summary":"Fixes","tags":["Fixes"],"parameters":[{"name":"account","in":"path","required":true,"description":"me, your account id, or sample for the fictional Kalvenor sample. Any other id answers 404.","schema":{"type":"string","maxLength":200,"examples":["sample","me"]}}],"responses":{"200":{"description":"Fixes","headers":{"ETag":{"$ref":"#/components/headers/ETag"},"RateLimit-Limit":{"$ref":"#/components/headers/RateLimitLimit"},"RateLimit-Remaining":{"$ref":"#/components/headers/RateLimitRemaining"},"RateLimit-Reset":{"$ref":"#/components/headers/RateLimitReset"}},"content":{"application/json":{"schema":{"type":"object","required":["data"],"properties":{"sample":{"type":"boolean"},"data":{"type":"array","items":{"$ref":"#/components/schemas/Fix"}}}}}}},"304":{"description":"Not modified. The If-None-Match value matched the current ETag."},"400":{"$ref":"#/components/responses/Problem400"},"401":{"$ref":"#/components/responses/Problem401"},"404":{"$ref":"#/components/responses/Problem404"},"429":{"$ref":"#/components/responses/Problem429"}}}},"/accounts/{account}/history":{"get":{"operationId":"getHistory","summary":"History","description":"One point per scheduled run with its interval, for the account, each engine and each question type. Moved is printed only where intervals separate. Method breaks are marked.","tags":["History"],"parameters":[{"name":"account","in":"path","required":true,"description":"me, your account id, or sample for the fictional Kalvenor sample. Any other id answers 404.","schema":{"type":"string","maxLength":200,"examples":["sample","me"]}},{"name":"scope","in":"query","schema":{"type":"string","enum":["account","engine","question_type"]}}],"responses":{"200":{"description":"History","headers":{"ETag":{"$ref":"#/components/headers/ETag"},"RateLimit-Limit":{"$ref":"#/components/headers/RateLimitLimit"},"RateLimit-Remaining":{"$ref":"#/components/headers/RateLimitRemaining"},"RateLimit-Reset":{"$ref":"#/components/headers/RateLimitReset"}},"content":{"application/json":{"schema":{"type":"object","required":["data"],"properties":{"sample":{"type":"boolean"},"data":{"type":"array","items":{"$ref":"#/components/schemas/HistoryScope"}}}}}}},"304":{"description":"Not modified. The If-None-Match value matched the current ETag."},"400":{"$ref":"#/components/responses/Problem400"},"401":{"$ref":"#/components/responses/Problem401"},"404":{"$ref":"#/components/responses/Problem404"},"429":{"$ref":"#/components/responses/Problem429"}}}},"/accounts/{account}/alerts":{"get":{"operationId":"listAlerts","summary":"Alerts","description":"Movements between consecutive comparable scheduled runs where the two intervals separate, in either direction.","tags":["Alerts"],"parameters":[{"name":"account","in":"path","required":true,"description":"me, your account id, or sample for the fictional Kalvenor sample. Any other id answers 404.","schema":{"type":"string","maxLength":200,"examples":["sample","me"]}},{"name":"limit","in":"query","description":"Items per page, 1 to 100. Default 25.","schema":{"type":"integer","minimum":1,"maximum":100,"default":25}},{"name":"cursor","in":"query","description":"The next_cursor from the previous page.","schema":{"type":"string","maxLength":40}}],"responses":{"200":{"description":"A page of alerts","headers":{"ETag":{"$ref":"#/components/headers/ETag"},"RateLimit-Limit":{"$ref":"#/components/headers/RateLimitLimit"},"RateLimit-Remaining":{"$ref":"#/components/headers/RateLimitRemaining"},"RateLimit-Reset":{"$ref":"#/components/headers/RateLimitReset"}},"content":{"application/json":{"schema":{"type":"object","required":["data","pagination"],"properties":{"sample":{"type":"boolean","description":"Present and true on every sample response."},"data":{"type":"array","items":{"$ref":"#/components/schemas/Alert"}},"pagination":{"$ref":"#/components/schemas/Pagination"}}}}}},"304":{"description":"Not modified. The If-None-Match value matched the current ETag."},"400":{"$ref":"#/components/responses/Problem400"},"401":{"$ref":"#/components/responses/Problem401"},"404":{"$ref":"#/components/responses/Problem404"},"429":{"$ref":"#/components/responses/Problem429"}}}},"/accounts/{account}/proof":{"get":{"operationId":"listProof","summary":"Proof","description":"Controlled lift experiments with the four counts, intervals, the lift in points and the fixed verdict.","tags":["Proof"],"parameters":[{"name":"account","in":"path","required":true,"description":"me, your account id, or sample for the fictional Kalvenor sample. Any other id answers 404.","schema":{"type":"string","maxLength":200,"examples":["sample","me"]}}],"responses":{"200":{"description":"Experiments","headers":{"ETag":{"$ref":"#/components/headers/ETag"},"RateLimit-Limit":{"$ref":"#/components/headers/RateLimitLimit"},"RateLimit-Remaining":{"$ref":"#/components/headers/RateLimitRemaining"},"RateLimit-Reset":{"$ref":"#/components/headers/RateLimitReset"}},"content":{"application/json":{"schema":{"type":"object","required":["data"],"properties":{"sample":{"type":"boolean"},"data":{"type":"array","items":{"$ref":"#/components/schemas/ProofResult"}}}}}}},"304":{"description":"Not modified. The If-None-Match value matched the current ETag."},"400":{"$ref":"#/components/responses/Problem400"},"401":{"$ref":"#/components/responses/Problem401"},"404":{"$ref":"#/components/responses/Problem404"},"429":{"$ref":"#/components/responses/Problem429"}}}},"/accounts/{account}/proof/{experiment}":{"get":{"operationId":"getProof","summary":"One experiment","tags":["Proof"],"parameters":[{"name":"account","in":"path","required":true,"description":"me, your account id, or sample for the fictional Kalvenor sample. Any other id answers 404.","schema":{"type":"string","maxLength":200,"examples":["sample","me"]}},{"name":"experiment","in":"path","required":true,"schema":{"type":"string","maxLength":200}}],"responses":{"200":{"description":"The experiment","headers":{"ETag":{"$ref":"#/components/headers/ETag"},"RateLimit-Limit":{"$ref":"#/components/headers/RateLimitLimit"},"RateLimit-Remaining":{"$ref":"#/components/headers/RateLimitRemaining"},"RateLimit-Reset":{"$ref":"#/components/headers/RateLimitReset"}},"content":{"application/json":{"schema":{"type":"object","required":["data"],"properties":{"sample":{"type":"boolean"},"data":{"$ref":"#/components/schemas/ProofResult"}}}}}},"304":{"description":"Not modified. The If-None-Match value matched the current ETag."},"400":{"$ref":"#/components/responses/Problem400"},"401":{"$ref":"#/components/responses/Problem401"},"404":{"$ref":"#/components/responses/Problem404"},"429":{"$ref":"#/components/responses/Problem429"}}}}},"webhooks":{"run.completed":{"post":{"operationId":"webhook_run_completed","summary":"run.completed event","description":"Signed with HMAC SHA-256 over the timestamp, a full stop and the raw body. Header Broadcastwell-Signature: t=timestamp,v1=hex. Reject a timestamp more than 300 seconds from your clock.","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/Event"}}}},"responses":{"200":{"description":"Any 2xx acknowledges the event. Anything else is retried with backoff."}}}},"alert.fired":{"post":{"operationId":"webhook_alert_fired","summary":"alert.fired event","description":"Signed with HMAC SHA-256 over the timestamp, a full stop and the raw body. Header Broadcastwell-Signature: t=timestamp,v1=hex. Reject a timestamp more than 300 seconds from your clock.","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/Event"}}}},"responses":{"200":{"description":"Any 2xx acknowledges the event. Anything else is retried with backoff."}}}},"fix.updated":{"post":{"operationId":"webhook_fix_updated","summary":"fix.updated event","description":"Signed with HMAC SHA-256 over the timestamp, a full stop and the raw body. Header Broadcastwell-Signature: t=timestamp,v1=hex. Reject a timestamp more than 300 seconds from your clock.","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/Event"}}}},"responses":{"200":{"description":"Any 2xx acknowledges the event. Anything else is retried with backoff."}}}},"proof.updated":{"post":{"operationId":"webhook_proof_updated","summary":"proof.updated event","description":"Signed with HMAC SHA-256 over the timestamp, a full stop and the raw body. Header Broadcastwell-Signature: t=timestamp,v1=hex. Reject a timestamp more than 300 seconds from your clock.","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/Event"}}}},"responses":{"200":{"description":"Any 2xx acknowledges the event. Anything else is retried with backoff."}}}}},"components":{"securitySchemes":{"bearer":{"type":"http","scheme":"bearer","description":"An account API key, or the public demo key."}},"headers":{"ETag":{"description":"Strong entity tag. Send it back as If-None-Match.","schema":{"type":"string"}},"RateLimitLimit":{"description":"Requests allowed in the current window.","schema":{"type":"integer"}},"RateLimitRemaining":{"description":"Requests left in the current window.","schema":{"type":"integer"}},"RateLimitReset":{"description":"Seconds until the window resets.","schema":{"type":"integer"}}},"responses":{"Problem400":{"description":"A parameter is invalid.","content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/Problem"}}}},"Problem401":{"description":"The key is missing, invalid or revoked.","content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/Problem"}}}},"Problem404":{"description":"Nothing with that id is available to this key.","content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/Problem"}}}},"Problem429":{"description":"Rate limit reached. Retry-After says when to retry.","headers":{"Retry-After":{"schema":{"type":"integer"}}},"content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/Problem"}}}}},"schemas":{"EngineId":{"type":"string","enum":["chatgpt","claude","perplexity","google_aio","google_ai_mode"],"description":"ChatGPT, Claude, Perplexity, Google AI Overviews, Google AI Mode."},"Rate":{"type":"object","required":["pct","low","high","interval","base"],"additionalProperties":false,"properties":{"pct":{"type":"number"},"low":{"type":"number"},"high":{"type":"number"},"interval":{"type":"string"},"base":{"type":"string"}},"example":{"pct":24.1,"low":20.6,"high":28,"interval":"20.6 to 28.0","base":"125 of 518 answers"}},"Pagination":{"type":"object","required":["limit","next_cursor","total"],"properties":{"limit":{"type":"integer"},"next_cursor":{"type":["string","null"]},"total":{"type":"integer"}}},"Problem":{"type":"object","required":["type","title","status","code","detail"],"properties":{"type":{"type":"string"},"title":{"type":"string"},"status":{"type":"integer"},"code":{"type":"string"},"detail":{"type":"string"}}},"Pass":{"type":"object","properties":{"pass_id":{"type":"string"},"kind":{"type":"string","enum":["scheduled","adaptive","monitor"]},"scheduled":{"type":"boolean"},"started_at":{"type":"string"},"completed_at":{"type":"string"},"observed":{"type":"integer"}}},"Run":{"type":"object","required":["run_id","kind","status"],"properties":{"run_id":{"type":"string"},"kind":{"type":"string"},"status":{"type":"string"},"method_version":{"type":"string"},"immutable":{"type":"boolean"},"question_count":{"type":"integer"},"engines":{"type":"array"},"passes":{"type":"array","items":{"$ref":"#/components/schemas/Pass"}}}},"Counted":{"type":"object","properties":{"observed":{"type":"integer"},"scored":{"type":"integer"},"excluded":{"type":"integer"},"named":{"type":"integer"},"named_rate":{"$ref":"#/components/schemas/Rate"},"own_domain_cited":{"type":"integer"},"cited_rate":{"$ref":"#/components/schemas/Rate"}}},"RunSummary":{"type":"object","properties":{"run_id":{"type":"string"},"method_version":{"type":"string"},"scheduled":{"$ref":"#/components/schemas/Counted"},"adaptive":{"anyOf":[{"$ref":"#/components/schemas/Counted"},{"type":"null"}]}}},"Question":{"type":"object","properties":{"question_id":{"type":"integer"},"question_text":{"type":"string"},"question_type":{"type":"string"},"named":{"type":"integer"},"scored":{"type":"integer"},"named_rate":{"$ref":"#/components/schemas/Rate"},"per_engine":{"type":"object"},"competitors_named":{"type":"array"}}},"Receipt":{"type":"object","properties":{"receipt_id":{"type":"string"},"pass_id":{"type":"string"},"pass_kind":{"type":"string"},"question_id":{"type":"integer"},"engine":{"$ref":"#/components/schemas/EngineId"},"engine_label":{"type":"string"},"verdict":{"type":"string","enum":["named","not_named","excluded"]},"competitors_found":{"type":"array","items":{"type":"string"}},"cited_urls":{"type":"array","items":{"type":"string"}},"answer_text":{"type":"string"},"observed_at":{"type":"string"}}},"DisplacementQuestion":{"type":"object","properties":{"question_id":{"type":"integer"},"scored":{"type":"integer"},"client_named":{"type":"integer"},"client_absent":{"type":"integer"},"competitors":{"type":"array","items":{"type":"object","properties":{"name":{"type":"string"},"checked_in":{"type":"integer"},"named":{"type":"integer"},"named_instead":{"type":"integer"},"status":{"type":"string","enum":["named","checked_not_found","not_checked"]}}}}}},"Source":{"type":"object","properties":{"url":{"type":"string"},"domain":{"type":"string"},"own_domain":{"type":"boolean"},"times_cited":{"type":"integer"},"engines":{"type":"array"},"question_ids":{"type":"array","items":{"type":"integer"}}}},"Fix":{"type":"object","properties":{"fix_id":{"type":"string"},"run_id":{"type":["string","null"]},"question_ids":{"type":"array","items":{"type":"integer"}},"observed_source":{"type":"string"},"change_to_test":{"type":"string"},"status":{"type":"string"},"shipped_on":{"type":["string","null"]}}},"HistoryScope":{"type":"object","properties":{"scope":{"type":"string"},"key":{"type":"string"},"label":{"type":"string"},"points":{"type":"array"},"steps":{"type":"array"}}},"Alert":{"type":"object","properties":{"alert_id":{"type":"string"},"scope":{"type":"string"},"key":{"type":"string"},"direction":{"type":"string","enum":["up","down"]},"statement":{"type":"string"},"from":{"type":"object"},"to":{"type":"object"},"links":{"type":"object"}}},"ProofResult":{"type":"object","properties":{"experiment_id":{"type":"string"},"name":{"type":"string"},"version":{"type":"integer"},"locked_at":{"type":["string","null"]},"state":{"type":"string"},"target":{"type":"object"},"control":{"type":"object"},"controlled_lift":{"type":"object","properties":{"points":{"type":"number"},"low":{"type":"number"},"high":{"type":"number"}}},"verdict":{"type":["string","null"],"enum":["Lift shown","Gain on target questions, not separable from drift","No gain observed",null]},"remeasure":{"type":"object"},"limit":{"type":"string"}}},"Method":{"type":"object","properties":{"measurement_method":{"type":"string"},"proof_addendum":{"type":"string"},"engines":{"type":"array"},"definitions":{"type":"object"},"what_the_numbers_do_not_prove":{"type":"array","items":{"type":"string"}}}},"Event":{"type":"object","required":["id","type","api_version","created_at","account_id","data"],"properties":{"id":{"type":"string"},"type":{"type":"string","enum":["run.completed","alert.fired","fix.updated","proof.updated"]},"api_version":{"type":"string"},"created_at":{"type":"string"},"account_id":{"type":"string"},"data":{"type":"object"}}}}},"x-changelog":[{"date":"2026-09-21","version":"1.0.0","change":"Version 1 published: runs, run summary, questions, receipts, displacement, sources, fixes, history, alerts, proof and method. Account API keys, the public demo key and webhooks."}],"x-rate-limits":{"key_per_minute":60,"key_per_day":5000,"demo_per_address_minute":30,"note":"Defaults. The live values are returned on every response in the RateLimit headers."}}